.form-group {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.form-input {
  padding-right: 1rem;
  padding-left: 1rem;
  border: 2px solid @white;
  outline: none;
  height: 2.5rem;
  background-color: @black;
  font-family: "Courier New";
  font-size: 1rem;
  color: @white;
  text-align: center;

  &:focus,
  &:hover {
    outline: 1px solid @white;
  }

  &--full-width {
    width: 100%;
  }
}
