// Breakpoints

@small: ~"(min-width: 768px)";
@medium: ~"(min-width: 1024px)";
@large: ~"(min-width: 1280px)";

// Colors

@black: black;
@white: white;

html,
body {
  margin: 0;
  background-color: @black;
  color: @white;
  font-family: "Courier New", monospace;
  font-size: 15px;

  @media @small {
    font-size: 16px;
  }

  @media @medium {
    font-size: 18px;
  }

  @media @large {
    font-size: 20px;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

a,
a:visited {
  color: @white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  text-align: center;
  margin: 2rem;
}

.header__title {
  font-size: 3rem;
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-width: 960px;

  iframe {
    width: 100%;
    max-width: 640px;
    height: 360px;
  }
}

.content__image {
  margin-bottom: 1rem;
  max-width: 60%;

  @media @small {
    max-width: 50%;
  }

  @media @medium {
    max-width: 40%;
  }
}

.content__description {
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;

  .emoji {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
}
